@using WebAssemblyTestApp.Model
@inject IBuilngEventHandler BuildingEventHandler

<div>
    <button class="btn btn-primary"
            style="z-index:1000; position:absolute;" @onclick="e =>BuildingEventHandler.RotateClockwise(buildingList)">
        Rotate
    </button>
</div>

<svg class="svgwindow border"
     style="z-index:1; position:relative;"
     @onmousedown="e =>BuildingEventHandler.OnMouseDownHandleSort(buildingList)">
    @foreach (Building b in buildingList)
    {
<BuildingDisplay building="b"></BuildingDisplay>}

    Sorry, your browser does not support inline SVG.
</svg>

@code {int CurrentIndex = 0;
    string Message;

    List<Building> buildingList = new List<Building> {
        new Building { Name = "Constructor",X=600, Y=0, OffsetX = 80, OffsetY = 100, Rotation=270, Image = @"images/constructor.png"},
        new Building { Name = "Constructor",X=600, Y=80, OffsetX = 80, OffsetY = 100, Rotation=270, Image = @"images/constructor.png"},
        new Building { Name = "Constructor",X=600, Y=160, OffsetX = 80, OffsetY = 100, Rotation=270, Image = @"images/constructor.png"},
        new Building { Name = "Constructor",X=600, Y=240, OffsetX = 80, OffsetY = 100, Rotation=270, Image = @"images/constructor.png"},
        new Building { Name = "Assembler",X = 5,Y=150, OffsetX = 100, OffsetY = 150, Image = @"images/assembler.png"},
        new Building { Name = "Assembler",X = 105,Y=150, OffsetX = 100, OffsetY = 150, Image = @"images/assembler.png"},
        new Building { Name = "Assembler",X = 205,Y=150, OffsetX = 100, OffsetY = 150, Image = @"images/assembler.png"},
        new Building { Name = "Assembler",X = 305,Y=150, OffsetX = 100, OffsetY = 150, Image = @"images/assembler.png"},
        new Building { Name = "Assembler",X = 405,Y=150, OffsetX = 100, OffsetY = 150, Image = @"images/assembler.png"},
    }; }