@page "/"

<h1>Hello, Traveller!</h1>

<div class="alert alert-warning" role="alert">
    This site is merely a proof of concept. The goal is to create awesome site to design beautiful factories in
    <a href="https://www.satisfactorygame.com" target="_blank">Satisfactory</a> game
    made by <a href="https://www.coffeestainstudios.com" target="_blank">Coffee Stain Studios</a>!
</div>
<div class="alert alert-warning" role="alert">
    To get started just navigate to the left pannel and select "Planner" tab. Have fun!
</div>
