.wrapper {
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    display: flex;
}

.svgwindow {
    min-width: 300px;
    width: 100%;
    min-height: 800px;
    height: 800px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
}

.addwindow {
    min-width: 10px;
    max-width: 200px;
    width: 100%;
    min-height: 800px;
    height: 100%;
}

.border {
    border: 1px;
    padding: 1px 1px;
    border-color: gray;
    border-style: solid;
    border-radius: 10px;
}